/* SPUserField Component Styles */
.sp-user-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* PnP People Picker - Minimal border styling to match Fluent UI controls */
/* NOTE: Let PnP PeoplePicker use its OOB styles for personas/tags */
.sp-user-field .ms-BasePicker {
  border: 1px solid #8a8886;
  border-radius: 2px;
  min-height: 32px;
  transition: border-color 0.15s ease-in-out;
  box-sizing: border-box;
}

.sp-user-field .ms-BasePicker:hover {
  border-color: #323130;
}

.sp-user-field .ms-BasePicker.is-active,
.sp-user-field .ms-BasePicker:focus-within {
  border-color: #0078d4;
}

.sp-user-field .ms-BasePicker-text {
  border: none;
  min-height: 30px;
  box-shadow: none;
  outline: none;
}

.sp-user-field .ms-BasePicker-input {
  border: none;
  outline: none;
  box-shadow: none;
}

.sp-user-field .ms-BasePicker-input:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
